<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>

	<!-- Database connection settings -->

	<!-- 表示使用 mysql 数据库驱动类 -->
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>

	<!-- jdbc 的连接 url 和数据库（使用我们之前新建的 hibernate）-->
	<property name="connection.url">
		jdbc:mysql://118.89.159.211/crawer
	</property>

	<!-- 数据库用户名 -->
	<property name="connection.username">hive</property>

	<!-- 密码 -->
	<property name="connection.password">hive</property>

	<!-- JDBC connection pool (use the built-in) -->
	<!-- <property name="connection.pool_size">1</property>-->

	<!-- 数据库使用的方言 -->
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>

	<!-- Echo all executed SQL to stdout -->
	<!-- 设置 打印输出 sql 语句 为真 -->
	<property name="show_sql">true</property>

	<!-- 设置格式为 sql -->
	<property name="format_sql">true</property>

	<!-- 第一次加载 hibernate 时根据实体类自动建立表结构，以后自动更新表结构 -->
	<property name="hbm2ddl.auto">update</property>
	
	<property name="connection.url">  
            jdbc:mysql://118.89.159.211/crawer?useUnicode=true&amp;characterEncoding=UTF-8  
	</property>  
	
	<!-- 映射文件 -->
	<property name="myeclipse.connection.profile">
		MyEclipse Derby
	</property>

	<mapping resource="org/tjise/crawler/LinkTypeData.hbm.xml" />
	<mapping resource="org/tjise/crawler/Rule.hbm.xml" />
	<mapping resource="org/tjise/crawler/Website.hbm.xml" />


	<!-- 映射变成user实体类 -->
	<!-- 
		<mapping class="com.hernate.User" />
	-->
</session-factory>

</hibernate-configuration>